#p1 {
  position: relative;
  font-size:  20pt;
}

#why {
  float:left;
  margin : 30pt 10pt 10pt 10pt;
  width : 70%;
}

.icon {
  position : relative;
  top : 40px;
  float:right;
  width : 20%
}

#about {
  float:right;
  margin : 1pt 10pt 10pt 10pt;
}

#a1 {
  position : relative;
  font-size: 20pt;
}

#explain {
  font-size : 15pt;
  font-family: sans-serif;
}

#table1 {
  background-color : rgb(47, 54, 66);
  width : 100%;
  align : center;
}

#table_cell {
  font-size : 25pt;
  color : rgb(224, 108, 2);
  align : center;
}

#fotter_title {
  position:absolute;
  right : 50px;
  font-size : 25pt;
  font-family: serif;
  color :rgb(196, 94, 5);
}

.downloads {
  position: relative;
  top : 50px;
  margin : 1pt 10pt 10pt 10pt;
  width : 75%;
  font-family: sans-serif;
}

.downloads img {
  vertical-align : top;
}

.stats {
  position: relative;
  top: 10px;
}

.other {
  position : relative;
  background : linear-gradient(0deg, rgb(47, 54, 66), rgb(126, 141, 168));
  font-family: sans-serif;
  width : 100%;
  top : 100px;
  font-size : 12pt;
}

.other img {
  vertical-align: middle;
}

a {
  text-decoration : none;
}

table {
  margin-left:auto;
  margin-right:auto;
}
