#why {
  position : relative;
  float : left;
  width : 70%;
  border : solid 1px;
  margin : 30pt 10pt 30pt 10pt;
  padding: 10px 30px 30px 30px;
  border-radius : 10px;
}

#icon {
  position : relative;
  padding : 10px 0px 0px 0px;
  margin : 40px 0px 0px 0px;
  float : right;
  width : 20%;
}

#about {
  float:right;
  margin : 10px 10px 70px 10px;
  padding: 10px 30px 30px 30px;
  border : solid 1px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
}

#explain {
  font-size : 15pt;
  font-family: sans-serif;
}

#stats-table {
  background-color : rgb(47, 54, 66);
  width : 100%;
  align : center;
}

#stats-table-cell {
  font-size : 25pt;
  color : rgb(224, 108, 2);
  align : center;
}

#footer-title {
  position:absolute;
  right : 50px;
  font-size : 25pt;
  font-family: serif;
  color :rgb(196, 94, 5);
}

#footer {
  position : relative;
  background : linear-gradient(0deg, rgb(47, 54, 66), rgb(126, 141, 168));
  font-family: sans-serif;
  width : 100%;
  top : 100px;
  font-size : 12pt;
}

#footer img {
  vertical-align: middle;
}

a {
  text-decoration : none;
}

table {
  margin-left:auto;
  margin-right:auto;
}
