#top-image {
  position : relative;
  padding : 10px 10px 30px 10px;
  align : center;
  width : 40%;
  overflow: hidden;
  top : 10px;
}

#top-image #img-monero{
  position : relative;
  float : left;
}

#top-image #img-xmrig{
  position : relative;
  float : right
}

#explain {
  font-size : 15pt;
  font-family: sans-serif;
}

#get-your-miner {
  font-size : 15pt;
  margin : 20px 20px 20px 20px;
  border : solid 1px;
  border-radius : 10px;
  padding : 10px 10px 10px 10px;
}

#ports {
  position : relative;
  border : solid 1px;
  border-radius : 10px;
  padding : 10px 10px 10px 10px;
  margin : 10px 20px 20px 20px;
}

#usage {
  position : relative;
  font-size : 15pt;
  float: left;
  margin : 10px 20px 20px 20px;
}

#usage #xmr-stack {
  position : relative;
  border : solid 1px;
  border-radius : 10px;
  padding : 10px 10px 40px 10px;
  margin : 10px 10px 10px 10px;
  overflow: hidden;
}

#usage #xmrig {
  position : relative;
  border : solid 1px;
  border-radius : 10px;
  margin : 20px 10px 10px 10px;
  padding : 10px 10px 40px 10px;
  overflow: hidden;
}

#config {
  position: relative;
  font-size: 12pt;
  color : rgb(0, 0, 0);
  border : solid 1px;
  font-style: 'MS Sans Serif';
  width : 90%;
  top : 20px;
}

#config #config_pre{
  font-size: 15pt;
  font-family: sans-serif;
}

#footer-title {
  position:absolute;
  right : 50px;
  font-size : 25pt;
  font-family: serif;
  color :rgb(196, 94, 5);
}

#footer {
  position : relative;
  background : linear-gradient(0deg, rgb(47, 54, 66), rgb(126, 141, 168));
  font-family: sans-serif;
  width : 100%;
  top : 10px;
  font-size : 12pt;
  overflow: hidden;
}

#footer img {
  vertical-align: middle;
}

div {
  margin-left: auto;
  margin-right: auto;
}
